body {
    background-color: #D57DF5;
}
h1, h2 {
    text-align: center;
    font-size: 30px;
}

h1 {
    color: #2F1B36;
}
h2 {
    color: rgb (102,60,117);
}
p {
 text-align: justify;
 font-size: 25px;
 }